{% block sw_cms_element_config_ict_about_title_text_image %}
    <div class="ict-about-title-text-image">
        <div class="sw-cms-el-config-about-title-text-image">
            {% block sw_cms_el_config_ict_about_title_text_image_title%}
                <sw-text-field
                        v-model="element.config.title.value"
                        :label="$tc('sw-cms.elements.ictAboutTitleTextImage.config.label.titleLabel')"
                        sanitize-input
                        />
            {% endblock %}

            {% block sw_cms_el_config_ict_about_title_text_image_titleMedia %}
                <sw-media-upload-v2
                        variant="regular"
                        :label="$tc('sw-cms.elements.ictAboutTitleTextImage.config.label.titleImage')"
                        :upload-tag="uploadTag"
                        :source="previewSource"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.titleImage.config.label.uploadMediaCaption')"
                        @media-upload-sidebar-open="onOpenMediaModal"
                        @media-upload-remove-image="onImageRemove"/>

                <sw-upload-listener
                        :upload-tag="uploadTag"
                        auto-upload
                        @media-upload-finish="onImageUpload"/>

                {% block sw_cms_el_config_ict_about_title_text_image_media_modal %}
                    <sw-media-modal-v2
                            v-if="mediaModalIsOpen"
                            variant="regular"
                            :label="$tc('sw-cms.elements.ictAboutTitleTextImage.config.label.titleImage')"
                            :caption="$tc('sw-cms.elements.ictAboutTitleTextImage.config.label.uploadMediaCaption')"
                            :entity-context="cmsPageState.entityName"
                            :allow-multi-select="false"
                            :initial-folder-id="cmsPageState.defaultMediaFolderId"
                            @media-upload-remove-image="onImageRemove"
                            @media-modal-selection-change="onSelectionChanges"
                            @modal-close="onCloseModal"/>
                {% endblock %}
            {% endblock %}

            {% block sw_cms_el_config_ict_about_title_text_image_description %}
                <sw-text-editor
                        v-model="element.config.content.value"
                        :label="$tc('sw-cms.elements.ictAboutTitleTextImage.config.label.descriptionLabel')"
                        sanitize-input
                        @input="onInput"
                        @blur="onBlur"/>
            {% endblock %}

            {% block sw_cms_el_config_ict_about_title_text_image_aboutMedia %}
                <sw-media-upload-v2
                        variant="regular"
                        :label="$tc('sw-cms.elements.ictAboutTitleTextImage.config.label.aboutImage')"
                        :upload-tag="uploadTag"
                        :source="aboutImagePreviewSource"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.ictAboutTitleTextImage.config.label.uploadMediaCaption')"
                        @media-upload-sidebar-open="onOpenAboutMediaModal"
                        @media-upload-remove-image="onAboutImageRemove"
                />

                <sw-upload-listener
                        :upload-tag="uploadTag"
                        auto-upload
                        @media-upload-finish="onAboutImageUpload"
                />

                {% block sw_cms_el_config_ict_about_title_text_image_media_modal %}
                    <sw-media-modal-v2
                            v-if="aboutMediaModalIsOpen"
                            variant="regular"
                            :label="$tc('sw-cms.elements.ictAboutTitleTextImage.config.label.aboutImage')"
                            :caption="$tc('sw-cms.elements.ictAboutTitleTextImage.config.label.uploadMediaCaption')"
                            :entity-context="cmsPageState.entityName"
                            :allow-multi-select="false"
                            :initial-folder-id="cmsPageState.defaultMediaFolderId"
                            @media-upload-remove-image="onAboutImageRemove"
                            @media-modal-selection-change="onAboutSelectionChanges"
                            @modal-close="onAboutCloseModal"
                    />
                {% endblock %}
            {% endblock %}

            {% block sw_cms_element_config_image_display_mode %}
                <sw-select-field
                        v-model="element.config.displayMode.value"
                        class="sw-cms-el-config-image__display-mode"
                        :label="$tc('sw-cms.elements.general.config.label.displayMode')"
                        @change="onChangeDisplayMode"
                >
                    <option value="standard">
                        {{ $tc('sw-cms.elements.general.config.label.displayModeStandard') }}
                    </option>
                    <option value="cover">
                        {{ $tc('sw-cms.elements.general.config.label.displayModeCover') }}
                    </option>
                    <option value="stretch">
                        {{ $tc('sw-cms.elements.general.config.label.displayModeStretch') }}
                    </option>
                </sw-select-field>
            {% endblock %}
            {% block sw_cms_element_image_config_image_position_align %}
                <sw-select-field
                        v-model="element.config.position.value"
                        :label="$tc('sw-cms.elements.ictAboutTitleTextImage.config.label.imagePosition')"
                        :placeholder="$tc('sw-cms.elements.ictAboutTitleTextImage.config.label.imagePosition')"
                        :disabled="element.config.displayMode.value === 'cover'"
                >
                    <option value="left">
                        {{ $tc('sw-cms.elements.ictAboutTitleTextImage.config.label.imageLeft') }}
                    </option>
                    <option value="right">
                        {{ $tc('sw-cms.elements.ictAboutTitleTextImage.config.label.imageRight') }}
                    </option>
                </sw-select-field>
            {% endblock %}
            <template v-if="element.config.displayMode.value === 'cover'">
                {% block sw_cms_element_image_config_min_height %}
                    <sw-text-field
                            v-model="element.config.minHeight.value"
                            :label="$tc('sw-cms.elements.image.config.label.minHeight')"
                            :placeholder="$tc('sw-cms.elements.image.config.placeholder.enterMinHeight')"
                            @input="onChangeMinHeight"
                    />
                {% endblock %}
            </template>
            {% block sw_cms_element_image_config_vertical_align %}
                <sw-select-field
                        v-model="element.config.verticalAlign.value"
                        :label="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                        :placeholder="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                        :disabled="element.config.displayMode.value === 'cover'"
                >
                    <option value="flex-start">
                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignTop') }}
                    </option>
                    <option value="center">
                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignCenter') }}
                    </option>
                    <option value="flex-end">
                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignBottom') }}
                    </option>
                </sw-select-field>
            {% endblock %}
        </div>
    </div>

{% endblock %}