.sw-cms-element-ict-custom-category-extension {
  width: 100%;
  background: #FFFFFF;
  font-size: 22px;
  color: #52667AFF;
  border-radius: 5px;
  padding: 20px;

  .sw-cms-element-category-placeholder-listing div {
    margin: 10px 0;
    height: 0.7em;
    border-radius: 4px;
    background-color: #f0f2f5;

    &.sw-cms-element-ict-custom-category-extension__placeholder--subcategory {
      margin: 7px 0 7px 30px;
    }
  }

  hr {
    max-width: 90%;
    margin: 10px auto;
    border: 1px solid #D1D9E0FF;
  }
}
