{% block block_ict_custom_text_on_image %}
    {% set element = block.slots.getSlot('ictTextOnImage') %}
    {% set elementForBgConfig = element.fieldConfig.elements %}
    {% set bgMedia = elementForBgConfig.media.value %}
    {% if bgMedia != null %}
        {% set mediaCollection = searchMedia([bgMedia], context.context) %}
        {% set imageMedia = mediaCollection.get(bgMedia) %}
    {% endif %}

    {% set columns = 1 %}

    <div class="block-ict-custom-text-on-image-banner" {% if imageMedia %} style="background-image: url('{{ imageMedia.url }}');background-repeat: no-repeat; background-size: cover;" {% endif %}>
        <div class="col-12" data-cms-element-id="{{ element.id }}">
            {% block block_text_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
