{% block block_ict_custom_category_extension %}
    {% set element = block.slots.getSlot('ictCustomCategoryExtension') %}
    {% set columns = 1 %}

    <div class="col-12" data-cms-element-id="{{ element.id }}">
        {% block block_ict_custom_category_extension_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
