{% block sw_cms_block_ict_about_title_text_image %}
    <div class="sw-cms-block-ict-about-title-text-image">
        <slot name="ictAboutTitleTextImage">
            {% block sw_cms_block_ict_about_title_text_image_slot_image %}{% endblock %}
        </slot>
    </div>
{% endblock %}