<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_custom_text_image_slider_config %}
    <div class="sw-cms-el-config-custom-text-image-slider">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_custom_text_image_slider_config_tabs %}
            <sw-tabs
                    position-identifier="sw-cms-element-config-image-slider"
                    class="sw-cms-el-config-custom-text-image-slider__tabs"
                    default-item="imagesContent"
            >
                <template #default="{ active }">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_custom_text_image_slider_config_tab_content %}
                        <sw-tabs-item
                                :title="$tc('sw-cms.elements.general.config.tab.content')"
                                name="imagesContent"
                                :active-tab="active"
                        >
                            {{ $tc('sw-cms.elements.ictCustomTextImageSlider.config.tab.images') }}
                        </sw-tabs-item>
                    {% endblock %}
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_custom_text_image_slider_config_tab_options %}
                        <sw-tabs-item
                                :title="$tc('sw-cms.elements.general.config.tab.settings')"
                                name="settings"
                                :active-tab="active"
                        >
                            {{ $tc('sw-cms.elements.ictCustomTextImageSlider.config.tab.settings') }}
                        </sw-tabs-item>

                    {% endblock %}
                </template>

                <template
                        #content="{ active }"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_custom_text_image_slider_config_content %}
                        <sw-container
                                v-if="active === 'imagesContent'"
                                class="sw-cms-el-config-custom-text-image-slider__tab-content"
                        >
                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_cms_element_custom_text_image_slider_config_media_selection %}
                                <sw-media-list-selection-v2
                                        :entity-media-items="mediaItems"
                                        :entity="entity"
                                        :upload-tag="uploadTag"
                                        :default-folder-name="defaultFolderName"
                                        @upload-finish="onImageUpload"
                                        @item-remove="onItemRemove"
                                        @open-sidebar="onOpenMediaModal"
                                        @item-sort="onItemSort"
                                />
                            {% endblock %}

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_cms_element_custom_text_image_slider_config_media_modal %}
                                <sw-media-modal-v2
                                        v-if="mediaModalIsOpen"
                                        variant="regular"
                                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                        :entity-context="cmsPageState.entityName"
                                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                                        @media-upload-remove-image="onItemRemove"
                                        @media-modal-selection-change="onMediaSelectionChange"
                                        @modal-close="onCloseMediaModal"
                                />
                            {% endblock %}
                        </sw-container>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_custom_text_image_slider_config_settings %}
                        <sw-container
                                v-if="active === 'settings'"
                                class="sw-cms-el-config-custom-text-image-slider__tab-settings"
                        >
                            <div class="sw-cms-el-config-custom-text-image-slider__settings-options">


                                {% block sw_cms_element_custom_text_image_slider_contentTitle %}
                                    <sw-field v-model="element.config.contentTitle.value"
                                              :label="$tc('sw-cms.elements.ictCustomTextImageSlider.config.textFields.contentTitle')"
                                              type="text">
                                    </sw-field>
                                {% endblock %}

                                {% block sw_cms_element_custom_text_image_slider_subTitle %}
                                    <sw-field v-model="element.config.subTitle.value"
                                              :label="$tc('sw-cms.elements.ictCustomTextImageSlider.config.textFields.subTitle')"
                                              type="text"></sw-field>
                                {% endblock %}

                                {% block sw_cms_element_custom_text_image_slider_detailTitle %}
                                    <sw-text-editor
                                            v-model="element.config.detailTitle.value"
                                            :label="$tc('sw-cms.elements.ictCustomTextImageSlider.config.textFields.description')"
                                            :allow-inline-data-mapping="true"
                                            sanitize-input
                                            enable-transparent-background
                                            @input="onInput"
                                            @blur="onBlur"
                                    />
                                {% endblock %}

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_cms_element_custom_text_image_slider_settings_display_mode %}
                                    <div class="sw-cms-el-config-custom-text-image-slider__setting-option">

                                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                        {% block sw_cms_element_custom_text_image_slider_settings_text_image_position %}
                                            <sw-select-field
                                                    v-model="element.config.TextImagePosition.value"
                                                    :label="$tc('sw-cms.elements.ictCustomTextImageSlider.config.textFields.TextImagePosition')"
                                                    :placeholder="$tc('sw-cms.elements.ictCustomTextImageSlider.config.textFields.TextImagePositionPlaceholder')"
                                            >
                                                <option value="TextBeforeImage">
                                                    {{ $tc('sw-cms.elements.ictCustomTextImageSlider.config.textFields.TextBeforeImage') }}
                                                </option>
                                                <option value="TextAfterImage">
                                                    {{ $tc('sw-cms.elements.ictCustomTextImageSlider.config.textFields.TextAfterImage') }}
                                                </option>
                                            </sw-select-field>
                                        {% endblock %}
                                    </div>
                                {% endblock %}

                                {% block sw_cms_el_config_ict_custom_text_custom_text_image_slider_cover_image %}
                                    <sw-media-upload-v2
                                            variant="regular"
                                            :upload-tag="uploadCoverTag"
                                            :label="$tc('sw-cms.elements.ictCustomTextImageSlider.config.textFields.coverImage')"
                                            :source="previewCoverSource"
                                            :allow-multi-select="false"
                                            :default-folder="cmsPageState.pageEntityName"
                                            :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                            @media-upload-sidebar-open="onCoverOpenMediaModal"
                                            @media-upload-remove-image="onCoverImageRemove"
                                    />
                                    <sw-upload-listener
                                            :upload-tag="uploadCoverTag"
                                            auto-upload
                                            @media-upload-finish="onCoverImageUpload"
                                    />
                                {% endblock %}
                            </div>
                        </sw-container>

                    {% endblock %}
                </template>
            </sw-tabs>
        {% endblock %}
    </div>
{% endblock %}
