{% block sw_cms_block_ict_image_text %}
    <div class="sw-cms-block-image-text">
        <slot name="ictImage">
            {% block sw_cms_block_image_text_slot_left %}{% endblock %}
        </slot>
        <slot name="ictText">
            {% block sw_cms_block_image_text_slot_right %}{% endblock %}
        </slot>
    </div>
{% endblock %}
