{% block sw_cms_preview_ict_custom_category_extension %}
    <div class="sw-cms-el-preview-ict-custom-category-extension">
        <div class="sw-cms-el-preview-ict-custom-category-extension__images">
            <div class="sw-cms-el-preview-ict-custom-category-extension__inner-images-text-one">
                <img :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset">
                <span>Text Here</span>
            </div>
            <div class="sw-cms-el-preview-ict-custom-category-extension__inner-images-text-two">
                <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset" alt="">
                <span>Text Here</span>
            </div>
            <div class="sw-cms-el-preview-ict-custom-category-extension__inner-images-text-two">
                <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset" alt="">
                <span>Text Here</span>
            </div>
        </div>
    </div>
{% endblock %}