{% block sw_cms_element_ict_switch_image_text_preview %}
    <div class="sw-cms-el-preview-image">
        <img
                :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                alt=""
        >
        <div class="sw-cms-el-preview-text">
            <h2>Lorem ipsum dolor</h2>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
            </p>
        </div>
    </div>
{% endblock %}
