{% block sw_cms_block_ict_switch_image_text %}
    <div class="sw-cms-block-image">
        <slot name="ictSwitchImageText">
            {% block sw_cms_block_image_slot_image %}{% endblock %}
        </slot>
    </div>
{% endblock %}