{% block sw_cms_block_ict_about_title_text_image_preview %}
    <div class="sw-cms-preview-ict-about-title-text-image">
        <div class="sw-cms-preview-ict-about-title-text-image__ict-title-text text-center">
            <h2 >Lorem ipsum dolor</h2>
            <div class="sw-cms-preview-ict-about-title-text-image__ict-title-image">
                <img
                        :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
                        alt=""
                >
            </div>

            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
        <div class="sw-cms-preview-ict-about-title-text-image__ict-about-image">
            <img
                    :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                    alt=""
            >
        </div>

    </div>
{% endblock %}