{% block sw_cms_preview_category_image_text %}
    <div class="sw-cms-preview-ict-category-image-text">
        <div class="sw-cms-preview-ict-category-image-text__images">
            <div class="sw-cms-preview-ict-category-image-text__inner-images-text-one">
                <span>Text Here</span>
                <img :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-ict-category-image-text__inner-images-text-two">
                <span>Text Here</span>
                <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset" alt="">
            </div>
            <div class="sw-cms-preview-ict-category-image-text__inner-images-text-two">
                <span>Text Here</span>
                <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset" alt="">
            </div>
        </div>
    </div>
{% endblock %}