.sw-cms-block-ict-image-text-bubble {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
    align-content: stretch;
    align-items: start;
    justify-content: stretch;
    justify-items: center;
    //grid-gap: 20px;
    background-color: black;
    background-size: cover;

    .sw-cms-el-text {
        padding-top: 20px;
    }

    .sw-cms-el-image,
    .sw-cms-el-image is--cover {
        //height: 300px;
        //width: 300px;
        margin: auto;
        border-radius: 50%;
        background-clip: padding-box;
        overflow: hidden;
    }
}
