{% block sw_cms_block_ict_image_text_bubble %}
<div class="sw-cms-block-ict-image-text-bubble">

    <div class="sw-cms-block__content">
        <slot name="lef-text"></slot>
    </div>
    <div class="sw-cms-block-ict-image-text-bubble__left">
        <slot name="left-image"></slot>
        <slot name="left-text"></slot>
    </div>
    <div class="sw-cms-block-ict-image-text-bubble__left1">
        <slot name="left1-image"></slot>
        <slot name="left1-text"></slot>
    </div>

    <div class="sw-cms-block-ict-image-text-bubble__center">
        <slot name="center-image"></slot>
        <slot name="center-text"></slot>
    </div>

    <div class="sw-cms-block-ict-image-text-bubble__center1">
        <slot name="center1-image"></slot>
        <slot name="center1-text"></slot>
    </div>

    <div class="sw-cms-block-ict-image-text-bubble__right">
        <slot name="right-image"></slot>
        <slot name="right-text"></slot>
    </div>

    <div class="sw-cms-block-ict-image-text-bubble__right1">
        <slot name="right1-image"></slot>
        <slot name="right1-text"></slot>
    </div>
</div>
{% endblock %}
