{% block sw_cms_preview_ict_custom_text_image_slider %}
    <div class="sw-cms-preview-ict-custom-text-image-slider-main">
        <div class="sw-cms-preview-ict-custom-text-image-slider-image">
            <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
        </div>
        <div class="sw-cms-preview-ict-custom-text-image-slider-text-fields">
            <div class="sw-cms-preview-ict-custom-text-image-slider-title-header">
                <h3>
                    <b>Lorem ipsum dolor</b>
                </h3>
            </div>

            <div class="sw-cms-preview-ict-custom-text-image-slider-title-sub-header">
                <p>
                    <b>Lorem ipsum dolor sit amet</b>
                </p>
            </div>

            <br/>
            <div class="sw-cms-preview-ict-custom-text-image-slider-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                </p>
            </div>

            <br/>
            <div class="sw-cms-preview-ict-custom-text-image-slider-learn-more">
                <p>
                    Learn More...
                </p>
            </div>

        </div>

    </div>
{% endblock %}