{% sw_extends '@Storefront/storefront/element/cms-element-form/form-types/newsletter-form.html.twig' %}

{% block cms_form_newsletter %}
    <form action="{{ path(action) }}"
          method="post"
          data-form-validation="true">

        <div class="form-content">
            <div class="row g-2">
                {% block cms_form_newsletter_input_email %}
                    <div class="newsletter-form">
                        <div class="newsletter-content">
                            <h3 class="newsletter-title-one text-center">
                                {{ 'footer.newsletter.titleOne'|trans|sw_sanitize }}
                            </h3>
                            <h4 class="newsletter-title-two text-center">
                                {{ 'footer.newsletter.titleTwo'|trans|sw_sanitize }}
                            </h4>
                            <p class="newsletter-description text-center">
                                {{ 'footer.newsletter.descriptionText'|trans|sw_sanitize }}
                            </p>
                            {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
                                with {
                                fieldName: 'email',
                                type: 'email',
                                additionalClass: 'col-12',
                                placeholder: 'newsletter.placeholderMail'
                            }
                            %}
                            {% block cms_form_submit %}
                                <button type="submit" aria-label="Submit" class="btn btn-primary">
                                    {% sw_icon 'ic-chevron-right-dark' style {
                                        'pack': 'ict',
                                        'class':'footer-submit',
                                        'size': 'sm',
                                    } %}
                                </button>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>

            {% block cms_form_newsletter_additional_fields %}

            {% endblock %}

            {% block cms_form_newsletter_captcha %}

            {% endblock %}

            {% block cms_form_newsletter_privacy %}

            {% endblock %}

            {% block cms_form_newsletter_required_fields_info %}

            {% endblock %}

        </div>

        {% block cms_form_newsletter_hidden_fields %}
            <div class="form-hidden-fields">
                <input type="submit" class="submit--hidden d-none" />
            </div>
        {% endblock %}
    </form>
{% endblock %}

