{% block element_ict_custom_text_on_image %}
    {%  set config = element.fieldConfig.elements %}
    <div class="cms-element-{{ element.type }}{% if config.verticalAlign.value %} has-vertical-alignment{% endif %}" data-icttheme-scroll-section>
        {% block element_text_alignment %}
            {% if config.verticalAlign.value %}

                <div class="cms-element-alignment{% if config.verticalAlign.value == "center" %} align-self-center{% elseif config.verticalAlign.value == "flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
            {% endif %}
                {% block element_text_inner %}
                    {{ element.data.content|raw }}
                    <a href="#" id="ict-down-arrow">
                    {% sw_icon 'chevron-down' style {'pack': 'ict','class':'ict-down-icon'} %}
                    </a>
                {% endblock %}
            {% if config.verticalAlign.value %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
