.sw-cms-preview-ict-category-image-text {
  .sw-cms-preview-ict-category-image-text__images {
    display: flex;
    justify-content: center;
    span {
      position: absolute;
      top: 50%;
      margin: 0 50px;
      transform: translate(-50%, -50%);
    }
  }
}
