<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_ict_image_text_bubble %}
<div class="sw-cms-block-ict-image-text-bubble">
    <div class="sw-cms-block-ict-image-text-bubble__left">
        <slot name="left-blog-image"></slot>
        <slot name="left-text"></slot>
    </div>
    <div class="sw-cms-block-ict-image-text-bubble__left1">
        <slot name="left-blog-image"></slot>
        <slot name="left-text"></slot>
    </div>

    <div class="sw-cms-block-ict-image-text-bubble__center">
        <slot name="center-blog-image"></slot>
        <slot name="center-text"></slot>
    </div>
    <div class="sw-cms-block-ict-image-text-bubble__center1">
        <slot name="center-blog-image"></slot>
        <slot name="center-text"></slot>
    </div>

    <div class="sw-cms-block-ict-image-text-bubble__right">
        <slot name="right-blog-image"></slot>
        <slot name="right-text"></slot>
    </div>
    <div class="sw-cms-block-ict-image-text-bubble__right1">
        <slot name="right-blog-image"></slot>
        <slot name="right-text"></slot>
    </div>
</div>
{% endblock %}
