.sw-cms-el-ict-about-title-text-image{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  grid-gap: 40px;

  .sw-cms-element-ict-about-title-text-image-content {
    text-align: center;
    .sw-cms-el-image {
      img{
        width:100%;
      }
    }
  }
  .sw-cms-el-ict-about-image{
    img{
      width:100%;
    }
  }
}