{% block sw_cms_element_ict_about_title_text_image %}
    
    <div class="sw-cms-el-ict-about-title-text-image">
        {% block sw_cms_element_ict_about_title_text_image_content %}
            <div class="sw-cms-element-ict-about-title-text-image-content">
                <h2 v-if="element.config.title">{{ titleText }}</h2>
                <h2 v-else>Lorem ipsum dolor sit amet</h2>
                <div class="sw-cms-el-image">
                    <img :src="titleMediaUrl"  alt="">
                </div>

                <sw-text-editor
                        v-model="element.config.content.value"
                        :disabled="disabled"
                        :vertical-align="element.config.verticalAlign.value"
                        :allow-inline-data-mapping="true"
                        :is-inline-edit="true"
                        sanitize-input
                        enable-transparent-background
                        @blur="onBlur"
                        @input="onInput"
                />
            </div>
            <div class="sw-cms-element-ict-about-title-text-image-image">
                <div class="sw-cms-el-ict-about-image" :class="displayModeClass" :style="styles">
                    {% block sw_cms_element_image_content %}
                        <img :src="aboutMediaUrl" :style="imgStyles" alt="">
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}